:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* IRIS - logo, button color*/
  --btn-color: #4d5ae5;
  /* NAVY BLUE - hero background (bg), menu & headings fonts*/
  --heading-color: #2e2f42;
  /* SLATE - contacts & main text - dark fonts */
  --main-fonts: #434455;
  /* CLOUD & white - light fonts, Section-3 bg */
  --light-font: #f4f4fd;
  --white-color: #ffffff;
  /* CORNFLOWER - Section-2 bg, Portfolio bg*/
  --portfolio-bgc: #e7e9fc;
  /* OCEAN - active button */
  --hover-btn: #404bbf;
  /* LIGHT SLATE */
  --icons-color: #8e8f99;
  /* GREEN */
  --green-color: #31d0aa;
  /* Others */
  --anim-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop: rgba(46, 47, 66, 0.4);
  --indent: 24px;
}
/* width:/flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items)); */

/* ==================== Adaptive ".container" (428, 768, 1158) ==================== */
/* Phone styles (428 & >) */
/* Tablet styles (768 & >) */
/* Desktop styles (1158 & >) */

/**
  |============================
  | RESET indents
  |============================
*/

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/**
  |============================
  | Base styles
  |============================
*/

body {
  font-family: var(--primary-font);
  color: var(--main-fonts);
  background-color: var(--white-color);
}

section {
  padding-bottom: 120px;
}

/* для заголовків параметри */
.header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  margin-bottom: 8px;
}

.main-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-fonts);
}

/* ==================== Adaptive ".container" (428, 768, 1158) ==================== */

/* Phone styles (428 & >) */
.container {
  min-width: 320px;
  max-width: 428px;

  margin-left: auto;
  margin-right: auto;
  padding: 0px 16px;

  /*  контур елемента */
  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* Tablet styles (768 & >) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop styles (1158 & >) */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;

    padding: 0px 15px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  margin: auto;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

svg {
  fill: currentColor;
}

/**
  |============================
  | RESET
  |============================
*/

/* Видалення підкреслення link-ів */
.link {
  text-decoration: none;
}

/* Видалення маркерів, нумерації */
.list {
  list-style: none;
}

/* Прихований заголовок ==========================*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* для прибирання курсиву */
address {
  font-style: inherit;
}

/**
  |============================
  | HEADER
  |============================
*/

.header-box {
  background-color: white;
  border-bottom: 1px solid var(--portfolio-bgc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  /*  контур елемента 
  outline: 2px solid red;
  outline-offset: -2px;*/
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* ======= LOGO ======= */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
  text-decoration: none;
}

.logo-studio {
  color: var(--heading-color);
}

/* ======= NAV ======= */
.menu-font {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ==================== Adaptive HEADER (428, 768, 1158) ==================== */

/* Phone styles (428 - 767) */
@media screen and (max-width: 767px) {
  .header-container {
    justify-content: space-between;
    padding: 24px 0;
  }

  .menu {
    display: none;
  }

  .contacts {
    display: none;
  }

  .menu-toggle {
    background-color: transparent;
    border: 0;
    /* margin-left: auto;
    padding: 0;
    line-height: 0; */
  }
}

/* Tablet & Desktop styles (768 & >) */
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    list-style: none;
    gap: 40px;
  }

  /* ======= Навігація (Меню) ======= */

  .menu-link {
    position: relative;
    display: flex;

    text-decoration: none;

    color: var(--heading-color);
    padding: 24px 0;

    transition: color var(--anim-function);
  }

  .menu-link:hover,
  .menu-link:focus,
  .contact-link:hover,
  .contact-link:focus {
    color: var(--hover-btn);
  }

  /* == підкреслення меню навігації == */
  /* .menu-link  */
  .active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;

    background-color: var(--hover-btn);
    color: var(--hover-btn);
    border-radius: 2px;
  }

  /* == синій колір разом із підкресленням меню навігації == */
  .menu-link.active {
    color: var(--hover-btn);
  }

  /* ======= Контакти (address) ======= */

  .contacts-list {
    list-style: none;
  }

  .contacts-link {
    color: var(--main-fonts);
    margin: 0;
  }

  .menu-toggle {
    display: none;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--main-fonts);

    transition: color var(--anim-function);
  }
}

/* Tablet styles (768 - 1157) */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-container {
    justify-content: space-between;
  }

  .contacts-item:first-child {
    margin-bottom: 12px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

/* Desktop styles (1158 & >) */

@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }

  .contacts-box {
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    gap: 40px;
  }
}

/**
  |============================
  | HERO section
  |============================
*/

.hero-bloc {
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--heading-color);
  /* background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/page1/hero/bg.jpg); */

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.title {
  font-family: inherit;
  font-weight: 700;

  letter-spacing: 0.02em;
  text-align: center;

  color: var(--white-color);
}

/* ====================== Adaptive "HERO section" (428, 768, 1158) ====================== */
/* Phone styles ( < 767 ) */
@media screen and (max-width: 767px) {
  .hero-bloc {
    max-width: 428px;
    /* min-width: 320px; */
    /* width: 100%; */

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/page1/hero/bg-mobile.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bloc {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/page1/hero/bg-mobile@2x.jpg);
    }
  }

  .title {
    font-size: 36px;
    line-height: 1.11;
    margin: 0 auto 72px auto;
    width: 320px;
  }
}

/* Tablet & Desktop styles (768 & >) */
@media screen and (min-width: 768px) {
  .title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 48px auto;
    width: 496px;
  }
}

/* Tablet styles ( 768 - 1157 ) */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero-bloc {
    max-width: 768px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/page1/hero/bg-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bloc {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/page1/hero/bg-tablet@2x.jpg);
    }
  }
}

/* Desktop styles (1158 & >) */

@media screen and (min-width: 1158px) {
  .hero-bloc {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/page1/hero/bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bloc {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/page1/hero/bg@2x.jpg);
    }
  }
}

/**
  |============================
  | BUTTON STYLE
  |============================
*/

.btn {
  /* display: flex; невірно*/
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 16px 32px;
  margin: 0 auto;

  color: var(--white-color);
  background-color: var(--btn-color);
  cursor: pointer;

  transition: background-color var(--anim-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-btn);
}

.btn-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/**
  |============================
  | SECTIONs
  |============================
*/

/* ========== SECTION-1 "FEATURE" (Переваги) ========== */
/*  (h3 = header під стиль "body") */

.section-delta {
  padding-top: 120px;
  --items: 4;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.feature-icon-box {
  display: none;
}

/* ==================== Adaptive "FEATURE" (428, 768, 1158) ==================== */

/* Phone styles ( & > 428 - 767 ) */
@media screen and (max-width: 767px) {
  .feature-list {
    --items: 1;

    gap: calc(3 * var(--indent));
    /* calc (72px) / 1) */
  }

  /* .feature-item:not(:last-child) {
    margin-bottom: 72px;
  } */

  .feature .header {
    text-align: center;
  }
}

/* Phone & Tablet styles ( 428 & 768 ) */
@media screen and (max-width: 1157px) {
  .feature .header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}

/* Tablet styles ( 768 - 1157 ) */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .feature-list {
    --items: 2;

    /* вертикальні і горизонтальні відступи */
    gap: calc(var(--indent) * 3) var(--indent);
  }

  /* .feature-item {
    /* calc (24px-72px) / 2) 
    flex-basis: calc(
      (100% - var(--indent) * (var(--items) - 1)) / var(--items)
    );
  } */
}

/* Desktop styles ( 1158 & > ) */
@media screen and (min-width: 1158px) {
  .feature-list {
    /* --items: 4; */

    justify-content: space-between;
    /* gap: var(--indent); */
  }

  /*.feature-item {
     calc (24px) / 4 ) 
    flex-basis: calc(
      (100% - var(--indent) * (var(--items) - 1)) / var(--items)
    );
  }*/

  .feature-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 112px;
    /* width: 264px; */

    background: var(--light-font);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .feature-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  /* .feature-icon {
    height: 64px;
    margin-left: auto;
    margin-right: auto;
  } */
}

/**
  |============================
  | SECTION-2  "WORK"
  |============================
*/
/* ========= WORK "We doing", (h2) ========== */

.header-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--heading-color);
  margin-bottom: 72px;
}

/* ==================== Adaptive ".container" (428, 768, 1158) ==================== */
/* Phone styles & Tablet styles ( 428 & 768 > ) */
@media only screen and (max-width: 1157px) {
  .work {
    display: none;
  }
}

/* Desktop styles ( 1158 & > ) */
@media only screen and (min-width: 1158px) {
  .work {
    display: block;
    --items: 3;
  }

  .work-list {
    display: flex;
    gap: var(--indent);
  }

  .work-item {
    /* calc ( 24px ) / 3 ) */
    flex-basis: calc(
      (100% - var(--indent) * (var(--items) - 1)) / var(--items)
    );
  }
}

/**
  |============================
  | SECTION-3  TEAM
  |============================
*/
/* ========== "Our Team" ========== */
/* Розміщенння картинок через 'column-gap:' та 'row-gap:' , вирівнювання маржинами */

.team {
  /* Кожне Слово З Великої Літери */
  text-transform: capitalize;
  background-color: var(--light-font);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

/* приклади list-style: */
/* list-style-type: '\1F44D'; */
/* list-style-type: space-counter; */
/* list-style-type: none; 

*/

.team-item {
  /* flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));*/

  /* маржинами картинку не вирівняти - потрібно на його "div" впливати?
  margin-left: auto;
  margin-right: auto; */
  border: var(--portfolio-bgc);

  /* Тінь навколо ракмок: */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-member {
  padding: 32px 0px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team-position {
  margin-bottom: 8px;
}

/* === social icons === */

.social-list {
  display: flex;
  justify-content: center;
  gap: var(--indent);
}
.social-item {
  width: 40px;
  height: 40px;
}

.link-icon {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  background-color: var(--btn-color);
  border-radius: 50%;

  transition: background-color var(--anim-function);
}

.link-icon:hover,
.link-icon:focus {
  background-color: var(--hover-btn);
}

.link-icon .icon {
  fill: var(--light-font);
}

/* ==================== Adaptive "TEAM" (428, 768, 1158) ==================== */
/* Phone styles (428 & >) */
@media screen and (max-width: 767px) {
  .team {
    padding: 0 40px;
  }

  .team-list {
    --items: 1;
  }

  .team-item {
    margin-left: auto;
    margin-right: auto;

    flex-basis: calc(
      (100% - var(--indent) * (var(--items) - 1)) / var(--items)
    );
  }

  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .img {
    width: 100%;
  }
}

/* Tablet styles (768 & >) */
@media screen and (min-width: 768px) {
  .team-list {
    --items: 2;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;

    align-items: center;
  }
}

/* Desktop styles (1158 & >) */
@media screen and (min-width: 1158px) {
  .team-list {
    --items: 4;
  }

  .team-item {
    /* calc (72px) / 4); */
    flex-basis: calc(
      (100% - var(--indent) * (var(--items) - 1)) / var(--items)
    );
  }
}

/**
  |============================
  | SECTION-4  CUSTOMERS
  |============================
*/
/* ========== "Customers" (Clients) ========== */

.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between; */
}

.clients-item {
  height: 88px;
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;

  transition: border var(--anim-function), color var(--anim-function);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--hover-btn);
  border-color: var(--hover-btn);
}

.clients-icon,
.clients-icon {
  fill: currentColor;
}

/* окремо на hover іконок колір не портібно унаслідувати*/
/* .clients-icon:hover,
.clients-icon:focus {
  fill: currentColor;
} */

/* ==================== Adaptive "CUSTOMERS" (Clients) (428, 768, 1158) ==================== */
/* Phone styles ( 428 - 767 ) */
/* items width: 190px; */
@media screen and (max-width: 767px) {
  .clients-list {
    --items: 2;
    --indent: 16px;

    column-gap: var(--indent);
    row-gap: 72px;
  }
}

/* Tablet styles ( 768 - 1157 ) */
/* items width: 168px; */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-container {
    width: 582px;
  }

  .clients-list {
    --items: 3;
    --indent: 24px;

    column-gap: var(--indent);
    row-gap: 72px;
  }
}

/* Desktop styles (1158 & >) */
/* items width: 168px; */
@media screen and (min-width: 1158px) {
  .clients-list {
    --items: 6;
    --indent: 24px;

    column-gap: var(--indent);
  }
}

/**
  |============================
  | FOOTER
  |============================
*/

.footer-section {
  background: var(--heading-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-section .container {
  display: flex;
}

/* LOGO */

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.studio-footer {
  color: var(--light-font);
}

.text-footer {
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: start;

  color: var(--light-font);
}

/* social-box  */

.footer-social-title {
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  background-size: cover;
  border-radius: 50%;

  background-color: var(--btn-color);

  transition: background-color var(--anim-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green-color);
}

.footer-section .icon {
  fill: var(--light-font);
}

/* Subscribe */

.subscribe {
  display: block;
}

.subscribe-title {
  margin-bottom: 16px;

  color: var(--white-color);
}

.subscribe-form {
  display: flex;
  align-items: center;
  /* gap: 24px; */
}

.subscribe-label {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.subscribe-email {
  /* height: 40px; */

  margin-bottom: 16px;
  padding: 8px 16px;

  border: 1px solid var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  /* Текст при введенні */
  font-family: inherit;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--white-color);
  /* background-color: var(--heading-color); */
  background-color: transparent;

  transition: background-color var(--anim-function);
}

/* Текст-підказка */
.subscribe-email::placeholder {
  display: flex;
  align-items: center;

  font-family: inherit;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--white-color);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  /* display: block; */
  /* display: inline-flex; */
  /* flex-direction: row;
  justify-content: center; */
  padding: 8px 24px;
  gap: 16px;

  background-color: var(--btn-color);
  border-radius: 4px;
  border: none;
  /* border: 0; */
  color: var(--white-color);
  cursor: pointer;

  transition: background-color var(--anim-function);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--hover-btn);
}

.subscribe-icon {
  fill: var(--white-color);
}

/* ==================== Adaptive "FOOTER" (428, 768, 1158) ==================== */

/* Phone styles ( 428 - 767 ) */
@media screen and (max-width: 767px) {
  .footer-section .container {
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;

    row-gap: 72px;
  }

  .logo-footer {
    margin-left: auto;
    margin-right: auto;
  }

  /* Subscribe  */
  .subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* row-gap: 16px; */
  }

  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    /* row-gap: 16px; */
  }

  .subscribe-email {
    flex-basis: 100%;
  }
}

/* Tablet & Desktop styles (768 & >) */
@media screen and (min-width: 768px) {
  .subscribe-email {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }

  /* /////////////////////// */
  /* .footer-section .logo-link {
    text-align: left;
  }

  .footer-social-title {
    text-align: left;
  } */
}

/* Tablet styles ( 768 - 1157 ) */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  /* .footer-container {
    width: 582px;
  } */

  .footer-section {
    padding-left: 108px;
  }

  .footer-section .container {
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* column-gap: 24px; */
    row-gap: 72px;
  }

  .footer-logo-box {
    margin-right: 24px;
  }

  .footer-social-box {
    margin-right: 80px;
  }

  .subscribe {
    width: 100%;
  }

  .subscribe-form {
    justify-content: space-between;

    margin-right: 122px;
  }
}

/* Desktop styles (1158 & >) */
@media screen and (min-width: 1158px) {
  .footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-section .container {
    display: flex;
    align-items: baseline;
  }

  /* LOGO */
  .footer-logo-box {
    margin-right: 120px;
  }

  /* Social media  */
  .footer-social-box {
    margin-right: 80px;
  }
}

/**
  |============================
  | PAGE2 - PORTFOLIO
  |============================
*/

.container-portfolio {
  padding: 96px 0 120px;
  /*  контур елемента 
  outline: 2px solid red;
  outline-offset: -2px; */
}

.list-menu-prtf {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: var(--indent);
  margin-bottom: 72px;
}

/* ========== BUTTON STYLE (Кнопки-фільтр) ========== */

.filter-button {
  display: flex;
  align-items: center;

  padding: 12px 24px;
  /* min-width: 69px; */

  color: var(--btn-color);
  background-color: var(--light-font);

  border: 1px solid var(--portfolio-bgc);
  border-radius: 4px;

  transition: color var(--anim-function), background-color var(--anim-function),
    border var(--anim-function), box-shadow var(--anim-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--hover-btn);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  /* цей стиль для вимкнення кольору при ховері (transparent - прозорий колір): */
  border: 1px solid transparent;
  /* border: 1px solid var(--hover-btn); */
}

/**
  |============================
  | Картки Portfolio 
  |============================
*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  column-gap: var(--indent);
  row-gap: calc(var(--indent) * 2);

  list-style-type: none;
  --items: 3;
}

.portfolio-item {
  max-width: 360px;

  /* Ширину елементів вже задано в html */
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.portfolio-link {
  display: block;

  transition: box-shadow var(--anim-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-categories {
  padding: 32px 16px;
  border: 1px solid var(--portfolio-bgc);
  border-top: none;
}

/* ======= overlay cards ======= */
.box-overlay {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  /* right: 0; */

  width: 100%;
  height: 100%;
  padding: 40px 32px 164px 32px;

  background-color: var(--btn-color);
  transform: translateY(100%);
  transition: transform var(--anim-function);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.overlay p {
  color: var(--light-font);
}

/**
  |============================
  | MODAL
  |============================
*/

/* ========== Modal window ========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop);
  transition: opacity var(--anim-function), visibility var(--anim-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  min-width: 408px;
  /* width: 408px;
  min-height: 576px; */
  padding: 72px 24px 24px 24px;

  background-color: #fcfcfc;
  /* Краще загальну властивість "background:" не використовувати! */

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* transition: scale 5000ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 5000ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 24px;
  top: 24px;

  /* margin-right: 24px;
  margin-top: 24px; */

  width: 24px;
  height: 24px;
  /* width: 100%;
  height: 100%; */

  background-color: var(--portfolio-bgc);
  /* background-size: cover; */

  border-radius: 50%;
  color: var(--heading-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* border: none; */

  transition: color var(--anim-function), border-color var(--anim-function),
    background-color var(--anim-function);
}

.close-icon {
  fill: currentColor;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover-btn);
  color: var(--light-font);
  cursor: pointer;
}

/* ==================== Adaptive ".modal" (428, 768, 1158) ==================== */
/* Phone styles (428 & >) */

@media screen and (min-width: 428px) {
  .modal {
    width: 392px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@media screen and (orientation: landscape) {
  .backdrop {
    /* overflow: auto; */
    overflow: scroll;
  }

  .modal {
    top: 0;
    transform: translate(-50%, 0%);
  }
}

/* Tablet styles (768 & >) */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

/* ======== Modal forms ======== */

.modal-title {
  margin-bottom: 16px;
  text-align: center;

  color: var(--heading-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

/* Форма (назва, іконка, поле, текст вводу) */
.modal-form-field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;

  color: var(--heading-color);
}

.modal-text {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  /* LIGHT SLATE */
  color: var(--icons-color);
}

/* Шрифт вводу */
.input-text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-fonts);
}

.modal-form-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;

  padding-left: 38px;
  margin-top: 4px;

  /* color: var(--heading-color); */
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border var(--anim-function);
}

.form-input-svg {
  position: absolute;
  top: 26px;
  left: 16px;
  fill: currentColor;
  transition: fill var(--anim-function);
}

.modal-form-field:focus-within .form-input-svg {
  fill: var(--btn-color);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--btn-color);
}

/* Comment input */
.modal-form-area {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 16px;

  color: var(--heading-color);
}

.modal-form-msg {
  resize: none;
  width: 100%;
  height: 120px;

  padding: 8px 16px;
  margin-top: 4px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color var(--anim-function);
}

.modal-form-msg:focus {
  outline: none;
  border-color: var(--btn-color);
}

.modal-form-msg::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

/* checkbox */

.modal-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-checkbox-border {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;

  margin-right: 8px;

  /* NAVY BLUE modal */
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  transition: border var(--anim-function), background-color var(--anim-function);
}

.modal-checkbox-svg {
  position: absolute;
  top: -1px;
  left: -1px;
  background-size: contain;
  opacity: 0;
  transition: opacity var(--anim-function);
}

.modal-text a {
  color: var(--btn-color);
  transition: color var(--anim-function);
}

.modal-text a:hover,
.modal-text a:focus {
  color: var(--hover-btn);
}

.modal-form-check:checked + .modal-checkbox-border {
  border: 1px solid var(--btn-color);
  background-color: var(--btn-color);
}

.modal-form-check:checked + .modal-checkbox-border > .modal-checkbox-svg {
  opacity: 1;
}

/* form submit button */
.modal-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  width: 169px;
  height: 56px;

  margin: 0 auto;

  color: var(--white-color);
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--anim-function);
}

.modal-form-btn:focus,
.modal-form-btn:hover {
  background-color: var(--hover-btn);
}

/**
  |============================
  | Mobile menu
  |============================
*/

/* Phone styles (428 & >) */
@media screen and (max-width: 767px) {
  .mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 80px 40px 40px 40px;
    background-color: var(--white-color);
    z-index: 999;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .mobile-menu-container.is-open {
    transform: translateX(0);
  }

  .close-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    right: 0;
    top: 0;

    width: 24px;
    height: 24px;

    margin-right: 20px;
    margin-top: 28px;

    background-color: var(--white-color);
    border-radius: 50%;
    color: var(--heading-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: color var(--anim-function), border-color var(--anim-function),
      background-color var(--anim-function);
  }

  .close-icon {
    fill: currentColor;
  }

  /* .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  } */

  .mobile-menu-item {
    margin-bottom: 40px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--heading-color);
  }

  .mobile-active {
    color: var(--hover-btn);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--hover-btn);
  }

  .mobile-contacts {
    margin-top: auto;
    margin-bottom: 48px;
  }

  .mobile-phone-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--btn-color);
  }

  .mobile-email-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-fonts);
  }

  .mobile-menu-container .social-list {
    gap: 56px;
  }
}

@media screen and (max-width: 427px) {
  .mobile-phone-link {
    font-size: 24px;
  }

  .mobile-menu-container .social-list {
    gap: 24px;
  }
}

@media screen and (orientation: landscape) {
  .mobile-menu-container {
    /* overflow: auto; */
    overflow: scroll;
  }

  /* .modal {
    top: 0;
    transform: translate(-50%, 0%);
  } */
}

/* Tablet & Desktop styles (768 & >) */
@media screen and (min-width: 768px) {
  .mobile-menu-container {
    display: none;
  }
}
